@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//Colors

$grey : #E5E5E5;
$blue : #4285F4;
$bluish-grey : #88A3B2;
$red : #EA4335;
$white : #FFF;

//box-shadow
@mixin shadow($x-axis, $y-axis, $blur, $spread, $color) {
  -webkit-box-shadow: $x-axis $y-axis $blur $spread $color;
  -moz-box-shadow: $x-axis $y-axis $blur $spread $color;
  box-shadow: $x-axis $y-axis $blur $spread $color;
}

//border-radius
@mixin b-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vh;
}

body {
  background: $grey ;
  font-family: "Mulish", open sans, Helvetica, arial, sans-serif;
}

a{
  text-decoration: none;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    @media screen and (max-width: 768px) {
      padding: 10px 0;
    }
    .app-explore {
      a {
        font-size: 14px;
        font-weight: 500;
        color: $blue;
        line-height: 18px;
        @media screen and (max-width: 600px) {
          max-width: 50px;
        }
      }
    }
    .app-logo {
      img {
        width: 100%;
        height: auto;
      }
    }
    .app-share {
      a {
        display: inline-block;
        color: $blue;
        font-size: 14px;
        text-decoration: none;
        i {
          display: inline;
        }
        p {
          display: inline;
          font-weight: 500;
          line-height: 18px;
        }
      }
    }
  }
  .app-body {
    padding: 20px 120px;
    @media screen and (max-width: 1024px) {
      padding: 0;
    }
    #drop-region {
      background: linear-gradient(109.03deg, #dfe1e2 -53.53%, #fdffff 138.3%);
      @include b-radius(2px);
      @include shadow(-30px, -30px, 60px, 0px, #ffffff4d);
      @include shadow(30px, 30px, 60px, 0px, #c9cbcd4d);
      width: 75%;
      height: 25rem;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      margin: 0 auto;
      overflow: hidden;
      &:hover {
        @include shadow(0, 0, 45px, 0, rgba(0, 0, 0, 0.1));
      }
      .drop-message {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: $blue;
        height: 100%;
      }
      #image-preview {
        margin-top: 0px;
        position: relative;
        height: 100%;
        .image-view {
          // height: 410px;
          height: 100%;
          &:hover{
             & + .option-buttons{
              background: rgba(0, 0, 0, .4);
              opacity: 1;
            }
          }
          ~ .image-view{
            display: none;
          }
          img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .option-buttons{
          position: absolute;
          top: 0;
          // left: 50%;
          // transform: translate(-50%, -50%);
          opacity: 0;
          height: 100%;
          width: 100%;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          // flex-wrap: wrap;
          .change-image{
            background: rgba(66, 133, 244, 0.2);
            border: 1px solid $blue;
            color: $blue;
            padding: 8px 16px;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            @include b-radius(20px);
            margin-right: 5px;
          }
          .remove-image{
            background: rgba(234, 67, 53, 0.2);
            border: 1px solid $red;
            color: $red;
            padding: 8px 16px;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            @include b-radius(20px);
            margin-left: 5px;
          }
          // &:hover {
          //   background: rgba(0, 0, 0, .4);
          //   opacity: 1;
          // }
        }
        
      }
    }
    .action-buttons {
      text-align: center;
      margin-top: 25px;
      .get_palette {
        color: $white;
        background-color: $blue;
        border: none;
        outline: none;
        box-shadow: none;
        @include b-radius(20px);
        padding: 12px 30px;
        cursor: pointer;
      }
    }
  }
  .palette-colors{
    &.hidden{
      display: none
    }
    background: $grey;
    border: 1px solid $blue;
    @include b-radius(10px);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 0 auto;
    align-items: center;
    @media screen and (max-width: 576px){
      margin: 0;
      width: 100%;
    }
    .dominant-color-generator{
      margin-right: 40px;
      margin-bottom: 10px;
      span{
        color: $bluish-grey;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
      }
      .dominant-color{
        width: 60px;
        height: 60px;
        @include b-radius(50px);
        margin-top: 10px;
      }
    }
    .color-palette-generator{
      margin-right: 40px;
      span{
        color: $bluish-grey;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        display: block;
      }
      .color-palette{
        width: 45px;
        height: 45px;
        @include b-radius(50px);
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }
}
